
<footer class="text-center text-lg-start text-white" style="background-color: #929fba">
    <!-- Grid container -->
    <div class="container-fluid p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!-- Grid column -->
                <div class="col-12 col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">TIENDA INA</h6>
                    <p>
                        Somos tu tienda de confianza, nos dedicamos a seleccionar los mejores productos para tu cuidado personal y darte la mejor atención.
                    </p>
                </div>

                <!-- Grid column -->
                <div class="col-12 col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Productos</h6>
                    <p><a class="text-white">Perfumeria</a></p>
                    <p><a class="text-white">Perfumes Árabes</a></p>
                    <p><a class="text-white">Cuidado Capilar</a></p>
                    <p><a class="text-white">Cosmética</a></p>
                </div>

                <!-- Grid column -->
                <div class="col-12 col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
                    <p><i class="fas fa-home mr-3"></i>Mdz: Ciudad, San Martin & Sta Rosa </p>
                    <p><i class="fas fa-envelope mr-3"></i>Ig: Ina_cosmetica </p>
                    <p><i class="fas fa-phone mr-3"></i> 263-4270339</p>
                    <p><i class="fas fa-print mr-3"></i> 263-4772317</p>
                </div>

                <!-- Grid column -->
                <div class="col-12 col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Encontranos</h6>

                    <!-- Social buttons -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
</footer>
