@{
}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand" asp-area="" asp-page="/Index">
            <img src="~/lib/images/logo_oficial-sin fondo negro.sinMargenpng.png" alt="Logo" height="50">
        </a>
        <!-- Texto corto -->
        <span class="navbar-text me-auto fs-3 fw-bold">
            "TIENDA INA" tu tienda de confianza.
        </span>

        <!-- Buscador -->
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar productos..." aria-label="Buscar">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
    </div>
</nav>