        <!-- Barra lateral -->
            <aside class="table-borderless p-3" style="min-height: 100vh;">


                <h5 class="mb-4">Categorías</h5>
                <ul class="nav flex-column">

                    <!-- PERFUMERIA -->
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#subPERFUMERIA" role="button" aria-expanded="false" aria-controls="subElectronica">
                            PERFUMERIA
                        </a>
                        <div class="collapse" id="subPERFUMERIA">
                            <ul class="nav flex-column ms-3">
                                <li><a class="nav-link" href="/Categorias/PERFUMERIA/PERFUMES MASCULINOS">PERFUMES MASCULINOS</a></li>
                                <li><a class="nav-link" href="/Categorias/PERFUMERIA/PERFUMES FEMENINOS">PERFUMES FEMENINOS</a></li>
                                <li><a class="nav-link" href="/Categorias/PERFUMERIA/PERFUMES UNISEX">PERFUMES UNISEX</a></li>
                                <li><a class="nav-link" href="/Categorias/PERFUMERIA/PERFUMES INFANTILES">PERFUMES INFANTILES</a></li>
                            </ul>
                        </div>
                    </li>

                    <!-- PRODUCTOS CAPILARES -->
                    <li class="nav-item">
                        <a class="nav-link" href="/CATEGORIAS/PRODUCTOSCCAPILARES">PRODUCTOS CAPILARES</a>
                    </li>

                </ul>
            </aside>
