@page "/products"

<h3>Productos</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Products)
        {
            <tr>
                <td>@p.Name</td>
                <td>@p.Price</td>
                <td>
                    <a class="btn btn-link p-0" title="Editar" href="@($"/products/edit/{p.Id}")">
                        <i class="bi bi-pencil-fill"></i>
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>
