@page
@using TiendaIna.Core.Entities
@using TiendaIna.Core.Models
@using TiendaIna.Core.Services
@model IndexViewModel
@{
    ViewData["Title"] = "INICIO";
}

<div class="container-fluid">
    <div class="row">

        <!-- Barra lateral -->
        <div class="col-md-3">
            @await Html.PartialAsync("Shared/Partials/Sidebar")
        </div>

        @*contenedor espacio fuera de la barra lateral*@
        <div class="col-md-9">


            @*Prueba ofertas semanales*@
            <div class="alert alert-dark custom-alertSale text-center" role="alert">
                🔥 OFERTAS SEMANALES 🔥
            </div>

            @*ofertas*@
            <div class="row justify-content-center fondo-ofertas py-4">
                @if (Model.Products != null && Model.Products.Any(p => p.IsOutstanding == true)) {
                    @foreach (var p in Model.Products.Where(p => p.IsOutstanding == true).Take(3)) {
                        <div class="col-12 col-md-4 mb-4">
                            <vc:product-box-sale product="@p"></vc:product-box-sale>
                        </div>
                    }
                } else {
                    <div class="text-center text-white">
                        <p>No hay ofertas destacadas en este momento.</p>
                    </div>
                }
            </div>

            @*CARTEL DE PRESENTACION PRODUCTOS*@
            <div class="alert alert-dark custom-alert" role="alert" mt-2 
            >
                NUESTROS PRODUCTOS
            </div>


            @*TABLAS PRODUCTOS VISTA PREVIA*@

            <div class="row">
                @foreach (var p in @Model.Products) {
                    <div class="col-6 col-md-4 mb-4">
                        <vc:product-box product="@p" show-categories="true"></vc:product-box>
                    </div>
                }
            </div>
            @*Agregar paginacion de productos*@
        </div>


       @* <div class="col-md-12">
            @await Html.PartialAsync("Shared/Partials/Footer")
        </div>
        *@


    </div>
</div>



