@page
@using TiendaIna.Core.Services
@using TiendaIna.Infrastructure
@using TiendaIna.Core
@using TiendaIna.Infrastructure.Services
@model ProductModel
@{
}

@inject IProductsService ProductsService

@{
    var producto = await ProductsService.GetProduct(1);
}
<h2>@producto.Name</h2>
<img src="@producto.Imagen" asp-append-version="true" alt="Imagen del producto" />
<p>Precio: $@producto.Price</p>
