@page "/Product/{id:int}"
@model ProductModel

<h2>@Model.Product.Name</h2>
<img src="@Model.Product.Imagen" asp-append-version="true" alt="Imagen del producto" />
<p>Precio: $@Model.Product.Price</p>
